@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Italiana&family=Itim&family=Jacques+Francois&display=swap');

/* Ställer in bakgrundsfärg för hela sidan */
body {
    background-color: #E9FDE6;
}

/***************************
*         Generellt        *
***************************/

/* Nollställer marginaler och padding för alla element */
* {
    margin: 0;
    padding: 0;
}

/* Ställer in standardstorlek på text */
p {
    font-size: small;
}

h1{
    font-family: "Amarante", serif;
    font-size: medium;
}


/***************************
*          Navbar          *
***************************/

/* ändrar stil för navigationsfältet */
.navbar {
    background-color: #AAFC9F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-family: "Jacques Francois", serif;
}

/* Storlek på logotypen i navbaren */
.navbar #logotyp-i-navbar {
    height: 70px;
}

/* Storlek på ikoner i navbaren */
.navbar-ikoner img {
    height: 35px;
}

/* Tar bort standardbakgrund och kantlinje på knappar i navbaren */
.navbar button {
    background-color: #00000000;
    border: none;
}

/* Ger mellanrum mellan knappar i navbar */
#meny-i-navbar {
    margin: 5px;
}

/* Effekter vid hover på navbar-knappar */
.navbar button:hover {
    cursor: pointer;
    transform: scale(110%);
}

/* Döljer navbar-länkar  */
.navbar-länkar {
    margin: 0 5vw;
    display: none;
}

/* ändrar stil för navbar-länkar */
.navbar-länkar a {
    margin: 0 0.5vw;
    text-decoration: none;
    color: black;
}

/* Färgändring vid hover på navbar-länkar */
.navbar-länkar :hover {
    text-decoration: none;
    color: #ab3c79;
}

/***************************
*           Main           *
***************************/


/* Dropdown-meny döljs som standard */
#dropdown {
    display: none;
    flex-direction: column;
    padding: 0.5vh 0;
    text-align: center;
    background-color: #FEC2F4;
}

/* ändrar stil för länkar i dropdown menyn */
#dropdown a {
    text-decoration: none;
    color: black;
}

/* Färgändring vid hover på dropdown länkar */
#dropdown a:hover {
    text-decoration: none;
    color: #923267;
}

/* Visar dropdown-menyn när klassen "klickad" läggs till */
#dropdown.klickad {
    display: flex;
}

/* Varukorg stil ändring */
.varukorg-container{
    background-color: #fcd7ef;
}

.varukorg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.varukorg button {

    margin-left: 1vw;
    cursor: pointer;
    width: 15vw;
    height: 10%;
    background-color: #FEC2F4;
    border: solid 1.5px #923267;
    border-radius: 3px;
    color: #003704;
    font-weight: bold;
    margin-bottom: 2vh;
}

#kostnad {
    font-size: 14px;
    width: 35vw;
    height: 10%;
    background-color: #AAFC9F ;
    border: solid 1.5px #022e13;
    color: #000000;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 1vh;
    text-align: center;

}

.varukorg li{
    font-size: 14px;
}


/* Effekt vid hover på "betala" knappen */
.varukorg button:hover {
    transform: scale(105%);
}

/*Sök fält*/
.sök {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

/* Döljer infoboxen */
.info {
    display: none;
    flex-direction: column;
    margin: 0.5vh 18vw;
    font-family: "Jacques Francois", serif;
}

/* Skapar en produktgrid med responsiv layout */
.produkt-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

/* ändrar stil för  produkter */
.produkt {
    background-color: #36A32710;
    padding: 10px;
    border: 2px solid #003704;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #00000050;
}

/* ändrar stil för produktbilder */
.produkt img {
    width: 80%;
    height: auto;
    border-radius: 4px;
    margin-left: 10%;
}

/* ändrar stil för produktbeskrivning */
.produkt p {
    margin: 5px 0;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "Jacques Francois", serif;
}

/* ändrar stil för "Lägg till"-knappen */
.Lägg-till {
    cursor: pointer;
    width: 100%;
    height: 10%;
    background-color: #FEC2F4;
    border: solid 1.5px #923267;
    border-radius: 3px;
    color: #003704;
    font-weight: bold;
    margin-bottom: 2vh;
}

/* Effekt vid hover på "Lägg till" knappen */
.Lägg-till:hover {
    transform: scale(105%);
}

/***************************
*          Footer          *
***************************/

/* ändrar stilen på footer */
footer {
    background-color: #AAFC9F;
    text-align: center;
    padding: 1vh 0;
}

/***************************
*       Media queries      *
***************************/

/* Anpassar layout för tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .produkt-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    p {
        font-size: large;
    }

    h1{
        font-size: x-large;
    }

    .varukorg button {

        width: 10vw;
        font-size: 16px;
    }

    #kostnad {
        
        font-size: 20px;
        width: 30vw;
    }

    .varukorg li{
        font-size: large;
    }
}

/* Anpassar layout för desktop */
@media (min-width: 1025px) {
    .produkt-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    p {
        font-size: medium;
    }

    h1{
        font-size: x-large;
    }

    .varukorg button {

        width: 5vw;
    }

    #meny-i-navbar {
        visibility: hidden;
    }

    .navbar-länkar {
        display: flex;
    }

    .navbar {
        justify-content: center;
    }

    .navbar-ikoner {
        margin: 0;
    }

    .info {
        display: flex;
    }

    #kostnad {
        font-size: 16px;
        width: 15vw;
    }

    .varukorg li{
        font-size: 16px;
    }
    
}