

body{
    background-color: #E9FDE6;
    
}

/***************************
*         Generellt        *
***************************/

* {
    margin: 0;
    padding: 0;
}

p{
    font-size: small;
}

/***************************
*          Navbar          *
***************************/

.navbar {
    background-color: #AAFC9F;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-family: "Jacques Francois", serif;
}

.navbar #logotyp-i-navbar {
    height: 70px; /*storlek på logotypen i navbar*/
}

.navbar-ikoner img{
    height: 35px; /*storlek på ikonerna i navbar*/
}

.navbar button {
    background-color: #00000000;
    border: none;
}

#meny-i-navbar {
    margin: 5px; /*gör att knapparna inte är precis bredvid varandra*/
}

.navbar button:hover {
    cursor: pointer; /*ändrar muspekare till pointer*/
    transform: scale(110%);
}


.navbar-länkar {
    margin: 0 5vw; /*första värdet är top & bottom och andra värdet är left & right*/

    display: none;
}

.navbar-länkar a {
    margin: 0 0.5vw; /*första värdet är top & bottom och andra värdet är left & right*/
    text-decoration: none;
    color: black;
    
}

.navbar-länkar :hover{
    text-decoration: none;
    color: #ab3c79;
}



/***************************
*           Main           *
***************************/

/*Dropdown*/
#dropdown {
    display: none;
    flex-direction: column;

    padding: 0.5vh 0;
    text-align: center;
    background-color: #FEC2F4;
}

#dropdown a {
    text-decoration: none;
    color: black;
}

#dropdown a:hover{
    text-decoration: none;
    color: #923267;
}

#dropdown.klickad {
    display: flex;
}

.info {
    display: none;
    flex-direction: column;
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 0.5vh ;
    margin-bottom: 0.5vh;
    font-family: "Jacques Francois", serif;
}

.produkt-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

.produkt {
    background-color: #36A32710;
    padding: 10px;
    border: 2px solid #003704;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #00000050;
}

.produkt img {
    width: 80%;
    height: auto;
    border-radius: 4px;
    margin-left: 10%;
   
}

.produkt p {
    margin: 5px 0;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: "Jacques Francois", serif;
}

.Lägg-till{
    cursor: pointer; /*ändrar muspekare till pointer*/
    width: 100%;
    height: 10%;
    background-color: #FEC2F4;
    border: solid 1.5px #923267;
    border-radius: 3px;
    color: #003704;
    font-weight: bold;
    margin-bottom: 2vh;
}

.Lägg-till:hover{
    transform: scale(105%);
}

/***************************
*          Footer          *
***************************/

footer{
    background-color: #AAFC9F;
    text-align: center;
    padding: 1vh 0;
}

/***************************
*       Media queries      *
***************************/

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {

    .produkt-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    p{
        font-size: medium;
    }
}

/*Desktop*/
@media (min-width: 1025px) {
    .produkt-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    p{
        font-size: large;
    }
    
    #meny-i-navbar {
        visibility: hidden;
    }

    .navbar-länkar {
        display: flex;
    }

    .navbar {
        justify-content: center;
    }

    .navbar-ikoner{
        margin: 0; /*tar bort marginen på ikonerna som gjorde att knapparna inte är precis vid kanten*/
    }

    .info{
        display: flex;
    }
}
